.main {
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  color: #ccc;

  .console-container {
    background-color: #333;
    border: 1px solid #333333;
    width: 800px;
    height: 500px;
    margin: 100px auto auto;

    .console-upper-bar {
      color: white;
      background-color: black;
      height: 35px;
      width: 100%;
      display: inline-flex;
      flex-direction: row;
      align-items: center;

      i {
        font-size: small;
      }

      .console-settings-icon {
        background-image: url("../../assets/imgs/powershell-icon.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        padding: 8px;
        width: 15px;
      }

      .console-title {
        font-family: "Segoe UI";
        font-weight: 100;
        width: auto;
      }

      .console-action-buttons-container {
        justify-self: end;
        margin-left: auto;
        width: 90px;
        display: inline-flex;

        div {
          width: 30px;
        }
      }
    }

    .console-text-container {
      padding: 5px 0 0 15px;
      text-align: left;
      font-family: 'JetBrainsMono', Courier, monospace;
      font-size: 18px;

      .first-line {
        p {
          color: #cccccc;
        }
      }

      .second-line {
        p {
          color: #00d153;

          span {
            text-decoration: underline;
            cursor: pointer;
            color: aquamarine;
          }

          :hover {
            color: chartreuse;
          }
        }
      }
    }
  }
}
