.main {
  padding: 1rem;
  height: 100vh;
  width: 100vw;
  background-color: #333;
  color: #ccc;
}

h1, h2 {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 50;
}

h2 {
  color: aqua;

  span {
    text-decoration: underline;
  }

  :hover {
    color: chartreuse;
  }
}
